h1 {
  color: rgb(81, 44, 213);
  text-align: center;
  background-color: rgb(189, 236, 189);
}

h2 {
  font-style: italic;
  text-align: left;
  color: rgb(121, 182, 235);
}

.sidebar {
  width: 30%;
  float: right;
  text-align: center;
  background-color: rgb(189, 236, 189);
}

p {
  font-family: Franklin Gothic;
  text-align: left;
  font-size: large;
  font-style: italic;
}

h3{
  font-family: Georgia;
  text-align: center;
  font-weight: lighter
}

img {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.emphasis {
  font-weight: bold;
  font-size: x-large;
}

.list {
  font-family: Georgia;
  font-weight: 100;
  font-weight: lighter;
}

.box1 {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color:  rgb(189, 236, 189);
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  
}

p2 {
  text-align: center;
}